h2{
}
.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 30px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.item{
	background-Color: #40345c;
	border-radius: 14px;
}
.itemContent {
	flex-direction: column;
}
.itemInfo {
	margin: 12px 12px;
	justify-content: space-between;
	align-items: center;
}
.title {
	color: #fff;
	font-size: 16px;
	text-align: left;
	margin: 0;
}
.imageVideo{
	border-radius: 14px;
	background-Color: #000;
}
.reactPlayer{
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

@media screen and (max-width: 1200px) {
	.content{
		grid-template-columns: repeat(3, 1fr);
	}
	.container{
		display: flex;
		margin-left: 90px;
		margin-top: 30px;
		margin-right: 20px
	}
}
@media screen and (max-width: 800px) {
	.content{
		grid-template-columns: repeat(2, 1fr);
	}
	.container{
		display: flex;
		margin-left: 90px;
		margin-top: 30px;
		margin-right: 20px
	}
}
@media screen and (max-width: 580px) {
	.content{
		grid-template-columns: 1fr;
	}
	.container{
		display: flex;
		margin-left: 90px;
		margin-top: 30px;
		margin-right: 20px
	}
}
