.content {
	display: flex;
	margin-left: 350px;
	margin-top: 30px;
	flex-direction: column;
	margin-right: 20px;
}
@media screen and (max-width: 1200px) {
	.content{
		display: flex;
		margin-left: 96px;
		margin-top: 30px;
		margin-right: 20px
	}
}
@media screen and (max-width: 800px) {
	.content{
		display: flex;
		margin-left: 98px;
		margin-top: 30px;
		margin-right: 20px
	}
}
@media screen and (max-width: 580px) {
	.content{
		display: flex;
		margin-left: 98px;
		margin-top: 30px;
		margin-right: 20px
	}
}

